.imgBg{
  width: 80px;
  height: 80px;
  margin: 0 20px 40px 0;
  background-color: #eaeaea;
  border-radius: 50%;
  border: none;
  outline: none;
}
.txtImg{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}
::placeholder {
  color: #747474;
}
select{
  color: #747474;
}

.caracCamion{
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #bcbcbc;
}
.detailsCam{
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #959595;
}

$md-chip-height: 32px;
$md-chip-color: #e0e0e0;

.md-chip {
  display: inline-block;
  border: solid 1px$md-chip-color;
  padding: 0 12px;
  border-radius: 32px;
  font-size: 13px;
  &.md-chip-hover:hover {
    background: #ccc;
  }
}

.md-chip-clickable {
  cursor: pointer;
}

.md-chip, .md-chip-icon {
  height: $md-chip-height;
  line-height: $md-chip-height;
}

.md-chip-icon {
  display: block;
  float: left;
  background: #009587;
  width: $md-chip-height;
  border-radius: 50%;
  text-align: center;
  color: white;
  margin: 0 8px 0 -12px;
}

.md-chip-remove {
  display: inline-block;
  background: white;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
  &:after {
    color: black;
    content: 'x';
  }
  &:hover {

  }
  &:active {
    background: #777;
  }
}

.md-chips {
  padding: 12px 0;
  .md-chip {
    margin: 0 5px 3px 0;
  }
}

.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}



//INPUT
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height:2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.expandedDiv{
  height: 353px !important;
}



.avatar-upload {
  position: relative;
  max-width: 205px;
  // margin: 50px auto;
  .avatar-edit {
    position: absolute;
    right: -13px;
    z-index: 1;
    top: 50px;
    input {
      display: none;
      + label {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin-bottom: -55px;
        margin-right: -30px;
        border-radius: 100%;
        background: #FFFFFF;
        border: 1px solid transparent;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
        cursor: pointer;
        font-weight: normal;
        transition: all .2s ease-in-out;
        &:hover {
          background: #f1f1f1;
          border-color: #d6d6d6;
        }
        &:after {
          // content: "\f040";
          font-family: 'FontAwesome';
          color: #757575;
          position: absolute;
          top: 10px;
          left: 0;
          right: 0;
          text-align: center;
          margin: auto;
        }
      }
    }
  }
  .avatar-preview {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    > div {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

.montant{

  height: 36px;
  font-size: 29px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #33ab84;
}

.progress-entretien{
  height: 4px;
  width: 25px;
  background-color: #2d9d78;
  border-radius: 2px;
  margin-right: 2px;
  margin-top: 5px;
}
.disabled-entretien{
  background-color: #dedede !important;
}

.dispo-bg{
  background-color: #2d9d78 !important;
}
.course-bg{
  background-color: #2680EB !important;
}
.indispo-bg{
  background-color:#E34850 !important;
}


.rate{
  display:inline-block;
  height: 18px;width: 18px;
  border-radius: 50%;
  background-color: #F29423;
  margin-right: 5px
}

.bad{
  background-color: #F29423;
}
.bad-empty{
  background-color: #FBE2C3;
}
.good{
  background-color: #33AB84;
}

.good-empty{
  background-color: #33ab8470;
}
.null{
  background-color: #BCBCBC;

}
.details-section{
  padding-left: 30px;padding-top: 30px;padding-right: 15px
}
.form-date{
  border-top: none;border-left:none;border-right: none;outline: none
}




















