.inputCourse{
  border-top: none;border-left: none;border-right: none;outline: none;width: 150px;
}
.expanded{
  background-color: #2B3180 !important;
}
.unexpanded{
  background-color: #BCBCBC !important;
}
