<div style="background-color:white;height: 300px;width: 260px;  border: solid 1px #EAEAEA;border-radius:5px;padding:10px;margin-bottom: 10px;">
  <div class="row">
    <div class="col-10">
      <div  *ngIf="course?.etat == 'En attente'"  class="c c-attente"></div>
      <div  *ngIf="course?.etat == 'Validé'"  class="c c-valide"></div>
      <div  *ngIf="course?.etat == 'En cours'"  class="c c-cours"></div>
      <div  *ngIf="course?.etat == 'Terminé'"  class="c c-termine"></div>
      <div  *ngIf="course?.etat == 'Annulé'"  class="c c-annule"></div>
    </div>
    <div class="col-1"><i style="cursor: pointer" (click)="clickedActionner(course?.id) "    class="fas fa-ellipsis-h"></i></div>

    <div [hidden]="!isExpanded" class="actions" *ngIf=" course?.etat == 'En attente'">
      <p (click)="clickedActionItem(course?.id,'Validation de la course') "  class="action-item">Valider</p>
      <hr>
      <p (click)="clickedActionItem(course?.id,'Reprogrammer') "  class="action-item">Reprogrammer</p>
      <hr>
      <p (click)="clickedActionItem(course?.id,'Remplacer le chauffeur') "  class="action-item">Remplacer le chauffeur</p>
      <hr>
      <p (click)="clickedActionItem(course?.id,'Annulation de la course') "  class="action-item">Annuler  </p>
     <!-- <hr>
      <p (click)="clickedActionItem(course?.id,'Details') " class="action-item">Voir details</p>-->
<hr>       <p (click)="clickedActionItem(course?.id,'Terminer la course') " class="action-item">Terminer la course</p>

    </div>
     <div [hidden]="!isExpanded" class="actions" *ngIf=" course?.etat == 'Validé'">
       <p (click)="clickedActionItem(course?.id,'Lancer la course') "  class="action-item">Lancer la course'</p>
       <hr>
       <p (click)="clickedActionItem(course?.id,'Annulation de la course') "  class="action-item">Annuler  </p>
       <hr>
       <p (click)="clickedActionItem(course?.id,'Reprogrammer') "  class="action-item">Reprogrammer</p>
       <hr>
       <p (click)="clickedActionItem(course?.id,'Remplacer le chauffeur') "  class="action-item">Remplacer le chauffeur</p>
       <!--<hr>
       <p (click)="clickedActionItem(course?.id,'Details') " class="action-item">Voir details</p>-->



    </div>
     <div  style="height: 100px" [hidden]="!isExpanded" class="actions" *ngIf=" course?.etat == 'En cours'">
       <p (click)="clickedActionItem(course?.id,'Terminer la course') "  class="action-item">Terminer la course'</p>
      <!-- <hr>
       <p (click)="clickedActionItem(course?.id,'Details') " class="action-item">Voir details</p>-->

    </div>
  </div>
  <span class="txt text-dark fw-bold" *ngIf="course?.chauffeur">Chauffeur</span>
  <div class="row" style="" *ngIf="course?.chauffeur">
    <div class="col-8 row">
      <div class="col-4"><img src="{{course?.chauffeur?.photo != null?ENDPOINT+'uploads/images/'+course?.chauffeur?.photo:'assets/images/avatar.jpg'}}" style="height: 40px;width: 40px;border-radius: 50%;margin-top: 5px"></div>
      <div class="col-8"><span  class="txt  text-dark fw-bold">{{course?.chauffeur.camion?.immatriculation}}</span><br><span  class="txt">{{course?.typeTrajet}}</span></div>
    </div>
    <div class="col-4 " style="text-align: right;float: right"><span  class="txt ">{{course?.chauffeur?.nomComplet| slice:0 : 15}}</span><br><span  class="txt">{{course?.chauffeur?.tel1}}</span></div>
  </div>
  <div style=" border-bottom: solid 1px #EAEAEA;margin-top: 5px"></div>
  <span class="txt text-dark fw-bold">Client</span>

  <div class="row" style="">
    <div class="col-8 row">
      <div class="col-4"><img src="{{course?.client?.photo != null?ENDPOINT+'uploads/images/'+course?.client?.photo:'assets/images/avatar.jpg'}}" style="height: 40px;width: 40px;border-radius: 50%;margin-top: 5px"></div>
      <div class="col-8"><span  class="txt  text-dark fw-bold">{{course?.client?.nomComplet}}</span><br><span  class="txt">{{course?.marchandise}}</span></div>
    </div>
    <div class="col-4"><span  class="txt">{{course?.lieuChargement | slice:0 : 6}} - {{course?.lieuDechargement | slice:0 : 6}}</span><br><span  class="txt">{{course?.client?.tel}}</span>
      <br><span  class="txt" *ngIf="course?.client?.typeClient =='Occasionnel'">Occasionnel</span></div>
  </div>
  <div style=" border-bottom: solid 1px #EAEAEA;margin-top: 5px;margin-bottom: 5px"></div>
  <div>
    <span class="txt">Date de depart<span style="float: right">{{course?.dateDepart}}</span> </span><br>
    <span class="txt">Date d'arrivée<span style="float: right">{{course?.dateArrivee}}</span> </span><br>
    <span class="txt">Chargement<span style="float: right">{{course?.dateChargement}}</span> </span><br>
    <span class="txt">Dechargement<span style="float: right">{{course?.dateDechargement}}</span> </span><br>


  </div>
</div>
