<div style="background-color:white;height: 300px;width: 260px;  border: solid 1px #EAEAEA;border-radius:5px;padding:10px;margin-bottom: 10px;">
  <div class="row">
    <div class="col-10">
      <div style="height: 10px;width: 60px;background-color: red;border-radius: 10px;margin-top: 5px"></div>
    </div>
    <div class="col-1"><i style="cursor: pointer"    class="fas fa-ellipsis-h"></i></div>
  </div>
  <span class="txt text-dark fw-bold">Chauffeur</span>
  <div class="row" style="">
    <div class="col-8 row">
      <div class="col-4"><img src="assets/images/avatar.jpg" style="height: 40px;width: 40px;border-radius: 50%;margin-top: 5px"></div>
      <div class="col-8"><span  class="txt  text-dark fw-bold">34GTL2</span><br><span  class="txt">Aller - Retour</span></div>
    </div>
    <div class="col-4 " style="text-align: right;float: right"><span  class="txt ">Ababacar Fall</span><br><span  class="txt">77 888 99 55</span></div>
  </div>
  <div style=" border-bottom: solid 1px #EAEAEA;margin-top: 5px"></div>
  <span class="txt text-dark fw-bold">Client</span>

  <div class="row" style="">
    <div class="col-8 row">
      <div class="col-4"><img src="assets/images/avatar.jpg" style="height: 40px;width: 40px;border-radius: 50%;margin-top: 5px"></div>
      <div class="col-8"><span  class="txt  text-dark fw-bold">34GTL2</span><br><span  class="txt">Aller - Retour</span></div>
    </div>
    <div class="col-4"><span  class="txt">Ababacar Fall</span><br><span  class="txt">77 888 99 55</span></div>
  </div>
  <div style=" border-bottom: solid 1px #EAEAEA;margin-top: 5px;margin-bottom: 5px"></div>
  <div>
    <span class="txt">Date de depart<span style="float: right">23-04-1996</span> </span><br>
    <span class="txt">Date d'arrivée<span style="float: right">23-04-1996</span> </span><br>
    <span class="txt">Chargement<span style="float: right">23-04-1996</span> </span><br>
    <span class="txt">Dechargement<span style="float: right">23-04-1996</span> </span><br>


  </div>
</div>
