<div id="body">

<div  style="background-color:    ;" class="l-navbar vbd" id="navbar">
  <div class=".nav">
    <!-- Logo+Text -->

    <!-- Toggle -->
    <div class="nav-toggle" id="nav-toggle">
      <i class="bx bx-chevron-right"></i>
    </div>
    <!-- List -->
    <ul class="nav-list">
      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fa fa-chart-bar"></i>
        <span class="link-text">Statistiques</span>
      </a>
      <br>
      <p class="showing">Courses</p>
      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fas fa-random"></i>

        <span class="link-text">Courses</span>
      </a>


      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fa fa-user"></i>
        <span class="link-text">Clients</span>
      </a>
      <p class="showing">Parc</p>


      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fas fa-truck-moving"></i>
        <span class="link-text">Camion</span>
      </a>

      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fa fa-users"></i>
        <span class="link-text">Chauffeur</span>
      </a>

      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fas fa-tools"></i>
        <span class="link-text">Entretien</span>
      </a>
      <p class="showing">Gestion</p>
      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fa fa-chart-bar"></i>
        <span class="link-text">Utilisateurs</span>
      </a>

      <a href="#" class="nav-link active">
        <i  style="color: #959595;font-size: 23px"  class="fa fa-chart-bar"></i>
        <span class="link-text">Ressources</span>
      </a>

      <a href="#" style="margin-top: 14rem;" class="nav-link active vbd">
        <i style="color: #959595;font-size: 23px"  class="fas fa-arrow-circle-left"></i>
        <span class="link-text">Réduireujjj</span>
      </a>
    </ul>
  </div>
</div>
</div>
