<div style="height: 200px;width: 260px;border-radius: 4px;border: solid 1px #eaeaea;padding: 15px">
  <div class="row" style="height: 50px;border-bottom: solid 1px #eaeaea;width: 255px">
    <div class="col-2">
      <div class=" text-center">
        <img src="https://source.unsplash.com/random" style="height: 35px;width: 35px;border-radius: 50%;background-color: red;"/>

      </div>    </div>
    <div class="col-8">
      <p style="color: #323232;font-size: 13px">Alpha Baldé<br><span  style=" font-size: 11px;   line-height: normal;  letter-spacing: normal; text-align: center; color: #2d9d78;">Disponble</span></p>

    </div>
    <div class="col-2" style="text-align: right">
      <i class="fas fa-ellipsis-h"></i>
    </div>
  </div>
  <div>
    <br>
    <p style="color: #323232;font-size: 14px">Lourd- Principal - 34K56JN</p>
      <p style="color: #323232;font-size: 14px">77 217 77 58 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 78 574 24 78</p>
    <div>
      <div style="display:inline-block;height: 18px;width: 18px;border-radius: 50%;background-color: orange;margin-right: 5px"></div>
      <div style="display:inline-block;height: 18px;width: 18px;border-radius: 50%;background-color: orange;margin-right: 5px"></div>
      <div style="display:inline-block;height: 18px;width: 18px;border-radius: 50%;background-color: orange;margin-right: 5px"></div>
      <div style="display:inline-block;height: 18px;width: 18px;border-radius: 50%;background-color: orange;margin-right: 5px"></div>
      <div style="display:inline-block;height: 18px;width: 18px;border-radius: 50%;background-color: orange;margin-right: 5px"></div>
    </div>
  </div>
</div>
