<app-content-menu [title]="'Client'" [menus]="menus">
  <div class="col-5"><h2>Client</h2></div>
  <div class="col-7" style="text-align: right">
    <button id="lancerCourse" class="btn btn-outline-secondary rounded rounded-pill mt-3 " style="margin-right:10px" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="lancerCourse()" >Lancer une course</button>
    <button (click)="addClient()" class="btn btn-secondary rounded rounded-pill mt-3 "  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus"></i>Ajouter un client</button>
  </div>
</app-content-menu>
<div  >
  <div class="row mb-4">
    <div class="col-12 row mt-3">
      <div class="col-2">

      </div>
      <div style="display: inline" class="co">
        <div  style="display: inline;width: 100px;margin-right: 20px" class="form-group has-search col-12">
          <span class="fa fa-search form-control-feedback"></span>
          <input [(ngModel)]="filtreTel"  style="width:320px;display:inline;background-color: #f4f4f4;border: none;color: #747474" type="text" class="form-control rounded vsearch rounded-pill"  placeholder="Numero de telephone">

        </div>
        <button style="font-size:12px;display: inline;width: 130px;margin-right: 20px" class="btn btn-outline-secondary rounded rounded-pill" data-bs-toggle="modal" data-bs-target="#modalFiltre">Nbre de courses</button>

        <select [(ngModel)]="filtreTypeClient" style="font-size:12px;display: inline;width: 100px;margin-right: 20px" class=" form-control border  border-2 border-secondary rounded rounded-pill" >
          <option value="" selected>Type client</option>
          <option value="Contractuel" >Contractuel</option>
          <option value="Occasionnel">Occasionnel</option>
        </select>

        <button (click)="filter()"  style="font-size:12px;display: inline;margin-right: 20px" class="btn btn-secondary border border-2  border-secondary rounded rounded-pill">
          <i class="fas fa-search"></i>

        </button>
        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 20px" class="btn   rounded rounded-circle"><i class="fa  fa-trash" ></i></button>
        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 10px" class="btn ml-5  rounded rounded-circle"><i class="fas fa-bars"></i></button>
        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 10px" class="btn ml-2  rounded rounded-circle"><i class="fas fa-th-large"></i></button>

      </div>
      <div class="col-2" style="text-align: right">
      </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-4"></div>
  </div>
   <app-loader [hidden]="loaderList"></app-loader>
  <div (scroll)="scrolling()" id="scrollZone" class="row overflow-auto" style="height: 400px;">

    <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="detailsClient()"  id="detailsClient" style="display:none;"></button>

    <div  style="position: relative" class="col-3 mt-5" *ngFor="let client of clients">    <app-client-card  style="position: relative" [cardId]="client?.id" (clickedAction)=" getSelectedClient($event)" (clickActionItem)="getAction ($event)" [client]="client"></app-client-card>  </div>



  </div>
</div>
<app-modal [modalTitle]="modalTitle" [size]="size">

  <div *ngIf="modalTitle == 'Lancer une nouvelle course'" class="modal-body overflow-auto">
    <form [formGroup]="courseForm" >
      <div *ngIf="step == 1">
        <p>Première étape</p>
        <p class="detailsCam">Veuilez determiner les dates de chargement, de déchargement et la quantité afin de voir la disponibilité des camions</p>

        <div class="row mt-2 mb-2">

          <div class="col-12">
            <label class="custom-label">Trajet</label><br>

            <p class="detailsCam">Type trajet</p>

            <select (change)="getTypeTrajetCourse()" formControlName="typeTrajet"   class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le lieu d'arrivée">
              <option selected>Type trajet</option>
              <option value="Aller">Aller</option>
              <option value="Retour">Retour</option>
              <option value="Aller - Retour">Aller - Retour</option>
            </select>

            <p class="detailsCam">Duree trajet</p>

            <input formControlName="dureeTrajet"  type="text" class="rounded-pill rounded form-control" name="dureeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Duree trajet">

          </div>

          <div class="col-6 mt-2 mb-2">

            <p class="detailsCam">Lieu de chargement</p>

            <input formControlName="lieuChargement"  type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">

          </div>

          <div class="col-6 mt-2 mb-2">

            <p class="detailsCam">Lieu de déchargement</p>

            <input formControlName="lieuDechargement"  type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu déchargement">

          </div>
          <div class="row mt-2" *ngIf="typeContrat =='Aller - Retour'">
            <div class="col-6">
              <p class="detailsCam">Lieu de chargement retour</p>
              <input  formControlName="lieuChargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
            </div>
            <div class="col-6">
              <p class="detailsCam">Lieu de dechargement retour</p>
              <input  formControlName="lieuDechargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de chargement</label><br>
            <input formControlName="dateChargement"  type="date" class="rounded-pill rounded form-control" name="dateChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de déchargement</label><br>
            <input formControlName="dateDechargement"  type="date" class="rounded-pill rounded form-control" name="dateDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
      <div class="col-12" *ngIf="typeContrat =='Aller - Retour'">
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de chargement</label><br>
            <input formControlName="dateChargementRetour"  type="date" class="rounded-pill rounded form-control" name="dateChargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de déchargement</label><br>
            <input formControlName="dateDechargementRetour"  type="date" class="rounded-pill rounded form-control" name="dateDechargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
      </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Tonnage</label><br>
            <select (change)="getSelectedTonnage('course')" formControlName="tonnage"  type="text" class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
              <option selected value="weekly">Choisir le tonnage</option>
              <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.id}}">{{tc?.tonnes}} tonnes</option>
            </select>
          </div>
        </div>
        <p class="detailsCam">Cout trajet</p>
        <input formControlName="cout" id="coutCourse"  type="text" class="rounded-pill rounded form-control" name="coutContrat" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout de la course">


        <div class="mb-4"  *ngIf="typeContrat =='Aller - Retour'">


          <p class="detailsCam">Cout trajet aller</p>
          <input id="coutRetourCourse"  formControlName="coutRetour"   type="text" class="rounded-pill  rounded form-control" name="coutRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout par course">


        </div>
        <div class="col-4"></div>
        <p><span>Disponibilité</span><br>
          <span>Indisponibilité du camion</span><br>
          <span>Vous pouvez enregistrer cette course et vous serez notifiés dés qu'il y aura disponibilité d'un camion</span></p>

      </div>
      <div *ngIf="step == 2">
        <p>Deuxieme etape<br>
         <span>Statut de la course</span> <span>En attente indisponible</span><br>
      Veuillez saisir les données du client et la marchandise
        </p>
        <div class="mb-3">
          <label class="mb-2 custom-label">Prénom et nom</label>

          <input formControlName="nomComplet" [ngModelOptions]="{standalone: true}"   [(ngModel)]="clientToPlanCourse.nomComplet"  type="text" class="rounded-pill rounded form-control" name="nomComplet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le prénom et nom">
        </div>
        <div class="mb-3">
          <label class="mb-2 custom-label">Numero de téléphone</label>

          <input formControlName="tel" [ngModelOptions]="{standalone: true}"     [(ngModel)]="clientToPlanCourse.tel"  (keyup)="getClientFilter()"   type="text" class="rounded-pill rounded form-control" name="tel" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le telephone">
        </div>
        <div class="mb-3">
          <label class="mb-2 custom-label">Marchandise</label>

          <input formControlName="marchandise" type="text" class="rounded-pill rounded form-control" name="marchandise" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir la marchandise">
        </div>
      </div>

    </form>

  </div>
  <div  *ngIf="modalTitle == 'Lancer une nouvelle course'" class="modal-footer">
    <div class="row col-12">
      <div class="col-3 pt-2 ">
        <div [class.step-active]="step == 1" (click)="setStep(1)" class="step"></div>
        <div  [class.step-active]="step == 2" (click)="setStep(2)" class="step"></div>
      </div>
      <div class="col-9  " style="text-align: right">
        <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal" style="margin-right: 15px">Annuler</button>
        <button [hidden]="!loaderAdd" (click)="createCourse()" type="button" class="btn btn-secondary rounded rounded-pill" style="margin-right: 1px">Enregistrer</button>
        <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

      </div>
    </div>

  </div>
  <!---->

  <div *ngIf="modalTitle == 'Ajout d\'un client'" class="modal-body overflow-auto">
    <form [formGroup]="clientForm" >
      <div class="row">
        <div (click)="clickUpload('avatar')" class="col-4">
          <img  style="cursor:pointer" [src]="imgURL" class="imgBg">
          <input  #file  accept='image/*' (change)="preview(file.files, $event)" type="file" id="avatar" hidden>
        </div>
        <div class="col-8" style="margin-left: -40px;  margin-top: 10px;">
          <span class="txtImg">Image du client</span><br>
          <span style="font-size: 11px;color: #959595">Veuillez importer une photo de l’ordinateur</span>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Prénom et nom</label>

        <input formControlName="nomComplet"   type="text" class="rounded-pill rounded form-control" name="nomComplet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le prénom et nom">
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Numero de telephone</label>

        <input formControlName="tel"  type="text" class="rounded-pill rounded form-control" name="tel" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Contrat</label>
        <br><span class="detailsCam">Trajet</span>
        <div class="row">
          <div class="col-6">
            <select (change)="getTypeContrat('client')" formControlName="typeTrajet"   class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
            <option value="" selected>Type trajet</option>
            <option value="Aller">Aller</option>
              <option value="Retour">Retour</option>
              <option value="Aller - Retour">Aller - retour</option>
            </select>
          </div>
          <div class="col-6">
            <input formControlName="dureeTrajet"   type="text" class="rounded-pill rounded form-control" name="dureeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Durée trajet">
          </div>
        </div>
        <div class="row mt-2" *ngIf="typeContrat !='Aller - Retour'">
          <div class="col-6">
            <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
          <div class="col-6">
            <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
          </div>
        </div>
        <div class="row mt-2" *ngIf="typeContrat =='Aller - Retour'">
          <div class="col-6">
            <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement aller">
          </div>
          <div class="col-6">
            <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement aller">
          </div>
          <div class="col-6 mt-2">
            <input  formControlName="lieuChargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuChargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement retour">
          </div>
          <div class="col-6 mt-2">
            <input  formControlName="lieuDechargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuDechargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement retour">
          </div>
        </div>
        <br><span class="detailsCam">Durée contrat</span>
        <div class="row mt-2">
          <div class="col-6">
            <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
          <div class="col-6">
            <input  formControlName="fin" type="date" class="rounded-pill rounded form-control" name="fin" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
          </div>
        </div>
        <br><span class="detailsCam">Période </span> <span (click)="addPeriode()" style="float:right">Ajouter période</span>
        <div formArrayName="periode"  class="overflow-auto" style="max-height: 250px; border: solid 1px #EAEAEA;">
          <div class="row mt-2" *ngFor="let item of periode.controls; let pointIndex=index" [formGroupName]="pointIndex" style="  border: solid 1px #EAEAEA;padding: 10px;margin: 5px;border-radius: 5px">
            <div class="col-12 mb-1" style="text-align: right">
              <button (click)="removePeriode(pointIndex)" style="  background-color: #f4f4f4;padding: 10px;border-radius: 50%" type="button" class="btn-close" ></button>
            </div>
            <div class="col-6">
              <label class="detailsCam">Jour de chargement {{typeContrat != 'Aller - Retour' ?( typeContrat | lowercase):'aller'}}</label>
              <select formControlName="jourChargement"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="1">Lundi</option>
                <option value="2">Mardi</option>
                <option value="3">Mercredi</option>
                <option value="4">Jeudi</option>
                <option value="5">Vendredi</option>
                <option value="6">Samedi</option>
                <option value="7">Dimanche</option>
              </select>
            </div>
            <div class="col-6">
              <label class="detailsCam">Jour de dechargement {{typeContrat != 'Aller - Retour' ?( typeContrat | lowercase):'aller'}}</label>
              <select    formControlName="jourDechargement" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="1">Lundi</option>
                <option value="2">Mardi</option>
                <option value="3">Mercredi</option>
                <option value="4">Jeudi</option>
                <option value="5">Vendredi</option>
                <option value="6">Samedi</option>
                <option value="7">Dimanche</option>
              </select>
            </div>
            <div class="row col-12" *ngIf="typeContrat == 'Aller - Retour'">

              <div class="col-6">
                <label class="detailsCam">Jour de chargement retour </label>
                <select formControlName="jourChargementRetour"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                  <option selected value="1">Lundi</option>
                  <option value="2">Mardi</option>
                  <option value="3">Mercredi</option>
                  <option value="4">Jeudi</option>
                  <option value="5">Vendredi</option>
                  <option value="6">Samedi</option>
                  <option value="7">Dimanche</option>
                </select>
              </div>
              <div class="col-6">
                <label class="detailsCam">Jour de dechargement retour</label>
                <select    formControlName="jourDechargementRetour" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                  <option selected value="1">Lundi</option>
                  <option value="2">Mardi</option>
                  <option value="3">Mercredi</option>
                  <option value="4">Jeudi</option>
                  <option value="5">Vendredi</option>
                  <option value="6">Samedi</option>
                  <option value="7">Dimanche</option>
                </select>
              </div>
            </div>
            <div class="col-12 mt-3">
              <select formControlName="frequenceChargement"  class="rounded-pill rounded form-control" name="frequenceChargement" style="outline: none;  background-color: #f4f4f4;border: none" >
                <option selected value="Chaque semaine">Chaque semaine</option>
                <option value="Chaque mois">Chaque mois</option>
                <option value="Chaque 2 semaines">Chaque 2 semaines</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="mb-4">
         <p class="detailsCam">Nom de la marchandise</p>
        <input formControlName="marchandise"  type="text" class="rounded-pill rounded form-control" name="marchandise" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir la marchandise">
     <p class="detailsCam">Tonnage</p>
        <select (change)="getSelectedTonnage('client')" formControlName="tonnage"    class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
          <option selected value="">Choisir le tonnage</option>
          <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.id}}">{{tc?.tonnes}} tonnes</option>
        </select>

        <p class="detailsCam">Cout trajet</p>
        <input formControlName="cout" id="cout"  type="text" class="rounded-pill rounded form-control" name="cout" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout par course">


      </div>


      <div class="mb-4"  *ngIf="typeContrat =='Aller - Retour'">


        <p class="detailsCam">Cout trajet retour</p>
        <input id="coutRetour"  formControlName="coutRetour"   type="text" class="rounded-pill  rounded form-control" name="coutRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout par course">


      </div>

      <div class="mb-4">
        <p style="cursor: pointer" (click)="clickUpload('fileContrat')"><u>Téléverser contrat</u><br><strong class="detailsCam" id="fileContratName"></strong></p>
        <input (change)="onFileSelect('fileContratName',$event)" type="file" id="fileContrat" style="display: none" >
      </div>

    </form>

  </div>
  <div  *ngIf="modalTitle == 'Ajout d\'un client'" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal">Annuler</button>
    <button [hidden]="!loaderAdd" (click)="createClient()" type="button" class="btn btn-secondary rounded rounded-pill">Enregistrer</button>
    <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

  </div>


  <div  *ngIf="modalTitle == 'Details du client'" class="modal-body overflow-auto">
    <app-loader [hidden]="loaderDetails"></app-loader>
    <div class="row"  [hidden]="!loaderDetails">

      <div class="col-2">
        <div class="container">

          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
              <img style="    height: 60px;width: 60px;  border-radius: 100px;" src="{{client?.photo != null?ENDPOINT+'uploads/images/'+client?.photo:'assets/images/avatar.jpg'}}" id="imagePreview"  >

            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <span style="font-size: 15px;">{{client?.nomComplet}} </span><br>
        <span style="font-size: 12px;color: #2680EB ">{{client?.tel}} </span><br>
        <div  class="badge badge-secondary text-light" style="font-size: 12px;color: white;background-color: #383A4D">{{client?.typeClient}}({{client?.contrats?.length}})</div>
      </div>
      <div class="col-4" style="text-align: right">
        <!-- <button class="btn btn-outline-secondary rounded rounded-pill">Amener en entretien</button>-->
        <p class="detailsCam" style="text-align: right">Montant à payer</p>
         <div class="row  ">
            <div class="col-12" style="text-align: right !important;"> <p class="montant">{{client?.montantRestant}} frcfa</p></div>
         </div>
      </div>

      <div class="row mt-3" style="border-top: solid 1px #DEDEDE">
        <div class="col-6 details-section" style="border-right: solid 1px  #DEDEDE">
          <div class="col-12 row mx-auto" *ngIf="client?.typeClient == 'Contractuel'">
            <div class="col-10">
              <select [(ngModel)]="contratId" (change)="setSelectedContrat()" class="rounded rounded-pill">
              <option *ngFor="let contrat of client?.contrats">{{contrat?.id}}</option>
            </select>
            </div>
            <div class="col-2"><span>{{selectedContrat}}</span></div>
          </div>
          <span class="detailsCam">Lieu chargement<span style="float: right">{{selectedContrat?.lieuChargement}}</span></span><br>
          <span class="detailsCam">Lieu dechargement<span style="float: right">{{selectedContrat?.lieuDechargement}}</span></span><br>
          <span class="detailsCam">Durée<span style="float: right">Du {{selectedContrat?.dateDebut}} au {{selectedContrat?.dateFin}}</span></span><br>
          <span class="detailsCam">Jour chargement<span style="float: right">{{selectedContrat?.joursChargement}}</span></span><br>
          <span class="detailsCam">Jour dechargement<span style="float: right">{{selectedContrat?.joursDechargement}}</span></span><br>
          <span class="detailsCam">Fréquence de chargement<span style="float: right">{{selectedContrat?.frequence}}</span></span><br>

          <span class="detailsCam">Nom de la marchandise<span style="float: right">{{selectedContrat?.marchandise}}</span></span><br>
          <span class="detailsCam">Tonnage<span style="float: right">{{selectedContrat?.tonnage}}</span></span><br>
          <span class="detailsCam" style="color:#7E51E5 !important">Montant<span style="float: right">{{selectedContrat?.montant}}</span> </span><br>
         <div>
           <div class=" mt-5">
             <span class="detailsCam">Voir le contrat<span style="float: right"><a *ngIf="selectedContrat?.fichier" href="{{ENDPOINT+'uploads/documents/'+selectedContrat?.fichier}}" target="_blank" download="proposed_file_name">Voir le fichier</a><span *ngIf="!selectedContrat?.fichier">Aucun contrat disponible</span></span> </span><br>

           </div>
           <p class="detailsCam mt-5">Courses </p>

           <select [(ngModel)]="courseId" (change)="getSelectedCourse()"  *ngIf="selectedContrat?.courses" class="border-secondary border-2 rounded rounded-pill form-control">
             <option value="{{course?.id}}"  *ngFor="let course of selectedContrat?.courses">{{course?.id}}</option>
           </select>
           <div *ngIf="selectedCourse">
             <span class="detailsCam">Date chargement<span style="float: right">{{selectedCourse?.dateChargement}}</span></span><br>
             <span class="detailsCam">Date dechargement<span style="float: right">{{selectedCourse?.dateDechargement}}</span></span><br>
             <span class="detailsCam">Montant<span style="float: right">{{selectedCourse?.cout}}</span></span><br>
             <span class="detailsCam">Montant restant<span style="float: right">{{selectedCourse?.montantRestant}}</span></span><br>
             <p class="detailsCam mt-5">Faire un versement</p>
             <input id="" [(ngModel)]="montantRestant"     type="number" [max]="montantRestant-selectedCourse?.montantRestant" class="rounded-pill  rounded form-control" name="coutRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Montant a verser">
             <button [hidden]="loaderPay" (click)="savePayment()" [disabled]="montantRestant == '' || montantRestant>selectedCourse?.montantRestant" class="btn btn-outline-secondary rounded rounded-pill mt-3">Enregistrer</button>
             <button [hidden]="!loaderPay" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

           </div>
         </div>


        </div>
        <div class="col-6 details-section"  >
          <form [formGroup]="contratForm" >
            <div class="row">

            </div>


            <div class="mb-4">
              <label class="mb-2" style="font-weight: bold;padding-left: 5px">Contrat</label>
              <br><span class="detailsCam">Trajet</span>
              <div class="row">
                <div class="col-6">
                  <select (change)="getTypeContrat('contrat')" formControlName="typeTrajet"   class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                    <option value="" selected>Type trajet</option>
                    <option value="Aller">Aller</option>
                    <option value="Retour">Retour</option>
                    <option value="Aller - Retour">Aller - retour</option>
                  </select>
                </div>
                <div class="col-6">
                  <input formControlName="dureeTrajet"   type="text" class="rounded-pill rounded form-control" name="dureeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Durée trajet">
                </div>
              </div>
              <div class="row mt-2" *ngIf="typeContrat !='Aller - Retour'">
                <div class="col-6">
                  <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
                </div>
                <div class="col-6">
                  <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
                </div>
              </div>
              <div class="row mt-2" *ngIf="typeContrat =='Aller - Retour'">
                <div class="col-6">
                  <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement aller">
                </div>
                <div class="col-6">
                  <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement aller">
                </div>
                <div class="col-6 mt-2">
                  <input  formControlName="lieuChargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuChargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement retour">
                </div>
                <div class="col-6 mt-2">
                  <input  formControlName="lieuDechargementRetour" type="text" class="rounded-pill rounded form-control" name="lieuDechargementRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement retour">
                </div>
              </div>
              <br><span class="detailsCam">Durée contrat</span>
              <div class="row mt-2">
                <div class="col-6">
                  <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
                </div>
                <div class="col-6">
                  <input  formControlName="fin" type="date" class="rounded-pill rounded form-control" name="fin" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
                </div>
              </div>
              <br><span class="detailsCam">Période </span> <span (click)="addPeriodeContrat()" style="float:right">Ajouter période</span>
              <div formArrayName="periode"  class="overflow-auto" style="max-height: 250px; border: solid 1px #EAEAEA;">
                <div class="row mt-2" *ngFor="let item of periodeContrat.controls; let pointIndex=index" [formGroupName]="pointIndex" style="  border: solid 1px #EAEAEA;padding: 10px;margin: 5px;border-radius: 5px">
                  <div class="col-12 mb-1" style="text-align: right">
                    <button (click)="removePeriodeContrat(pointIndex)" style="  background-color: #f4f4f4;padding: 10px;border-radius: 50%" type="button" class="btn-close" ></button>
                  </div>
                  <div class="col-6">
                    <label class="detailsCam">Jour de chargement {{typeContrat != 'Aller - Retour' ?( typeContrat | lowercase):'aller'}}</label>
                    <select formControlName="jourChargement"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                      <option selected value="1">Lundi</option>
                      <option value="2">Mardi</option>
                      <option value="3">Mercredi</option>
                      <option value="4">Jeudi</option>
                      <option value="5">Vendredi</option>
                      <option value="6">Samedi</option>
                      <option value="7">Dimanche</option>
                    </select>
                  </div>
                  <div class="col-6">
                    <label class="detailsCam">Jour de dechargement {{typeContrat != 'Aller - Retour' ?( typeContrat | lowercase):'aller'}}</label>
                    <select    formControlName="jourDechargement" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                      <option selected value="1">Lundi</option>
                      <option value="2">Mardi</option>
                      <option value="3">Mercredi</option>
                      <option value="4">Jeudi</option>
                      <option value="5">Vendredi</option>
                      <option value="6">Samedi</option>
                      <option value="7">Dimanche</option>
                    </select>
                  </div>
                  <div class="row col-12" *ngIf="typeContrat == 'Aller - Retour'">

                    <div class="col-6">
                      <label class="detailsCam">Jour de chargement retour </label>
                      <select formControlName="jourChargementRetour"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                        <option selected value="1">Lundi</option>
                        <option value="2">Mardi</option>
                        <option value="3">Mercredi</option>
                        <option value="4">Jeudi</option>
                        <option value="5">Vendredi</option>
                        <option value="6">Samedi</option>
                        <option value="7">Dimanche</option>
                      </select>
                    </div>
                    <div class="col-6">
                      <label class="detailsCam">Jour de dechargement retour</label>
                      <select    formControlName="jourDechargementRetour" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                        <option selected value="1">Lundi</option>
                        <option value="2">Mardi</option>
                        <option value="3">Mercredi</option>
                        <option value="4">Jeudi</option>
                        <option value="5">Vendredi</option>
                        <option value="6">Samedi</option>
                        <option value="7">Dimanche</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 mt-3">
                    <select formControlName="frequenceChargement"  class="rounded-pill rounded form-control" name="frequenceChargement" style="outline: none;  background-color: #f4f4f4;border: none" >
                      <option selected value="Chaque semaine">Chaque semaine</option>
                      <option value="Chaque mois">Chaque mois</option>
                      <option value="Chaque 2 semaines">Chaque 2 semaines</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>


            <div class="mb-4">
              <p class="detailsCam">Nom de la marchandise</p>
              <input formControlName="marchandise"  type="text" class="rounded-pill rounded form-control" name="marchandise" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir la marchandise">
              <p class="detailsCam">Tonnage</p>
              <select (change)="getSelectedTonnage('contrat')" formControlName="tonnage"  type="text" class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="">Choisir le tonnage</option>
                <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.id}}">{{tc?.tonnes}} tonnes</option>
              </select>

              <p class="detailsCam">Cout trajet</p>
              <input formControlName="cout" id="coutContrat"  type="text" class="rounded-pill rounded form-control" name="coutContrat" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout par course">


            </div>


            <div class="mb-4"  *ngIf="typeContrat =='Aller - Retour'">

              <p class="detailsCam">Cout trajet retour</p>
              <input id="coutRetourContrat"  formControlName="coutRetour"   type="text" class="rounded-pill  rounded form-control" name="coutRetour" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le cout par course">


            </div>

            <div class="mb-4">
              <p style="cursor: pointer" (click)="clickUpload('fileContrat2')"><u>Téléverser contrat</u><br><strong class="detailsCam" id="fileContratName2"></strong></p>
              <input (change)="onFileSelect('fileContratName2',$event)" type="file" id="fileContrat2" style="display: none" >
            </div>

          </form>

        </div>

      </div>
    </div>
  </div>
  <div  *ngIf="modalTitle == 'Details du client'" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal">Annuler</button>
    <button [hidden]="!loaderAdd" (click)="createContrat()" type="button" class="btn btn-secondary rounded rounded-pill">Enregistrer</button>
    <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

  </div>
</app-modal>







<div class="modal fade" id="modalFiltre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filtrer par nombre de courses</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="filtreCoursesForm">
          <p class="detailsCam">Période</p>
          <div class="row mb-2">
            <div class="col-6"><input formControlName="debut" type="date" class="form-date"></div>
            <div class="col-6"><input formControlName="fin" type="date" class="form-date"></div>
          </div>
          <p class="detailsCam">Nombre de courses</p>
          <input formControlName="total" type="range">
        </form>
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button [disabled]="!filtreCoursesForm.valid"   type="button" class="btn btn-primary">Filtrer</button>
      </div>
    </div>
  </div>
</div>
