<app-content-menu [title]="'Client'" [menus]="menus">
  <div class="col-5"><h2>Client</h2></div>
  <div class="col-7" style="text-align: right">
    <button  data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="lancerCourse()" >Ajouter course</button>
    <button (click)="addClient()" class="btn btn-secondary rounded rounded-pill mt-3 "  data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus"></i>Ajouter un client</button>
  </div>
</app-content-menu>
<div  >
  <div class="row mb-4">
    <div class="col-12 row mt-3">
      <div class="col-2">

      </div>
      <div style="display: inline" class="co">
        <div  style="display: inline;width: 100px;margin-right: 20px" class="form-group has-search col-12">
          <span class="fa fa-search form-control-feedback"></span>
          <input  style="width:320px;display:inline;background-color: #f4f4f4;border: none;color: #747474" type="text" class="form-control rounded vsearch rounded-pill"  placeholder="Quel type de client recherchez-vous ?">

        </div>
        <select style="font-size:12px;display: inline;width: 100px;margin-right: 20px" class=" form-control border  border-2 border-secondary rounded rounded-pill" >
          <option selected>Localité</option>
        </select>

        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 20px" class="btn   rounded rounded-circle"><i class="fa  fa-trash" ></i></button>
        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 10px" class="btn ml-5  rounded rounded-circle"><i class="fas fa-bars"></i></button>
        <button style="background-color: #F2F2F2;height:35px;width:35px;padding-left:9px;float: right;margin-left: 10px" class="btn ml-2  rounded rounded-circle"><i class="fas fa-th-large"></i></button>

      </div>
      <div class="col-2" style="text-align: right">
      </div>
    </div>
    <div class="col-2">

    </div>
    <div class="col-4"></div>
  </div>
  <!--<app-loader [hidden]="loaderList"></app-loader>-->
  <div (scroll)="scrolling()" id="scrollZone" class="row overflow-auto" style="height: 500px;">

    <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="detailsClient()"  id="detailsClient" style="display:none;"></button>

    <div class="col-3 mt-3" *ngFor="let client of clients">    <app-client-card [cardId]="client?.id" (clickedAction)=" getSelectedClient($event)" (clickActionItem)="getAction ($event)" [client]="client"></app-client-card>  </div>



  </div>
</div>
<app-modal [modalTitle]="modalTitle" [size]="size">

  <div *ngIf="modalTitle == 'Lancer une nouvelle course'" class="modal-body overflow-auto">
    <form [formGroup]="clientForm" >
      <div *ngIf="step == 1">
        <p>Première étape</p>
        <p class="detailsCam">Veuilez determiner les dates de chargement, de déchargement et la quantité afin de voir la disponibilité des camions</p>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de chargement</label><br>
            <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Date de déchargement</label><br>
            <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <label class="custom-label">Tonnage</label><br>
            <select formControlName="tonnage"  type="text" class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
              <option selected value="weekly">Choisir le tonnage</option>
              <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.tonnes}}">{{tc?.tonnes}} tonnes</option>
            </select>
          </div>
        </div>

        <div class="row mt-2 mb-2">

          <div class="col-12">
            <label class="custom-label">Trajet</label><br>

            <p class="detailsCam">Type trajet</p>

            <select formControlName="typeTrajet"  type="text" class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le lieu d'arrivée">
              <option selected>Type trajet</option>
              <option value="Aller - retour">Aller - retour</option>
              <option value="Retour">Retour</option>
            </select>
          </div>

          <div class="col-6 mt-2 mb-2">

            <p class="detailsCam">Lieu de chargement</p>

            <input formControlName="typeTrajet"  type="text" class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">

          </div>

          <div class="col-6 mt-2 mb-2">

            <p class="detailsCam">Lieu de déchargement</p>

            <input formControlName="typeTrajet"  type="text" class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le lieu de depart">

          </div>

        </div>
        <div class="col-4"></div>
        <p>Disponibilité</p>
        <p>Indisponibilité du camion</p>
        <p>Vous pouvez enregistrer cette course et vous serez notifiés dés qu'il y aura disponibilité d'un camion</p>

      </div>
      <div *ngIf="step == 2"></div>

    </form>

  </div>
  <div  *ngIf="modalTitle == 'Lancer une nouvelle course'" class="modal-footer">
    <div class="row">
      <div class="col-2 bg-primary">
        <div [class.step-active]="step == 1" class="step"></div>
        <div  [class.step-active]="step == 2" class="step"></div>
      </div>
      <div class="col-10 bg-danger">
        <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal">Annuler</button>
        <button [hidden]="!loaderAdd" (click)="createClient()" type="button" class="btn btn-secondary rounded rounded-pill">Enregistrer</button>
        <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

      </div>
    </div>

  </div>
  <!---->

  <div *ngIf="modalTitle == 'Ajout d\'un client'" class="modal-body overflow-auto">
    <form [formGroup]="clientForm" >
      <div class="row">
        <div (click)="clickUpload('avatar')" class="col-4">
          <img  style="cursor:pointer" [src]="imgURL" class="imgBg">
          <input  #file  accept='image/*' (change)="preview(file.files, $event)" type="file" id="avatar" hidden>
        </div>
        <div class="col-8" style="margin-left: -40px;  margin-top: 10px;">
          <span class="txtImg">Image du client</span><br>
          <span style="font-size: 11px;color: #959595">Veuillez importer une photo de l’ordinateur</span>
        </div>
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Prénom et nom</label>

        <input formControlName="nomComplet"   type="text" class="rounded-pill rounded form-control" name="nomComplet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le prénom et nom">
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Numero de telephone</label>

        <input formControlName="tel"  type="text" class="rounded-pill rounded form-control" name="tel" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
      </div>
      <div class="mb-4">
        <label class="mb-2" style="font-weight: bold;padding-left: 5px">Contrat</label>
        <br><span class="detailsCam">Trajet</span>
        <div class="row">
          <div class="col-6">
            <select formControlName="typeTrajet"  type="text" class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
            <option selected>Type trajet</option>
            <option value="Aller - retour">Aller - retour</option>
            <option value="Retour">Retour</option>
            </select>
          </div>
          <div class="col-6">
            <input formControlName="dureeTrajet"   type="text" class="rounded-pill rounded form-control" name="dureeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Durée trajet">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-6">
            <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
          <div class="col-6">
            <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
          </div>
        </div>
        <br><span class="detailsCam">Durée contrat</span>
        <div class="row mt-2">
          <div class="col-6">
            <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
          </div>
          <div class="col-6">
            <input  formControlName="fin" type="date" class="rounded-pill rounded form-control" name="fin" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
          </div>
        </div>
        <br><span class="detailsCam">Période </span> <span (click)="addPeriode()" style="float:right">Ajouter période</span>
        <div formArrayName="periode"  class="overflow-auto" style="max-height: 250px; border: solid 1px #EAEAEA;">
          <div class="row mt-2" *ngFor="let item of periode.controls; let pointIndex=index" [formGroupName]="pointIndex" style="  border: solid 1px #EAEAEA;padding: 10px;margin: 5px;border-radius: 5px">
            <div class="col-12 mb-1" style="text-align: right">
              <button (click)="removePeriode(pointIndex)" style="  background-color: #f4f4f4;padding: 10px;border-radius: 50%" type="button" class="btn-close" ></button>
            </div>
            <div class="col-6">
              <select formControlName="jourChargement"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="Lundi">Lundi</option>
                <option value="Mardi">Mardi</option>
                <option value="Mercredi">Mercredi</option>
                <option value="Jeudi">Jeudi</option>
                <option value="Vendredi">Vendredi</option>
                <option value="Samedi">Samedi</option>
                <option value="Dimanche">Dimanche</option>
              </select>
            </div>
            <div class="col-6">
              <select    formControlName="jourDechargement" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="Lundi">Lundi</option>
                <option value="Mardi">Mardi</option>
                <option value="Mercredi">Mercredi</option>
                <option value="Jeudi">Jeudi</option>
                <option value="Vendredi">Vendredi</option>
                <option value="Samedi">Samedi</option>
                <option value="Dimanche">Dimanche</option>
              </select>
            </div>
            <div class="col-12 mt-3">
              <select formControlName="frequenceChargement"  class="rounded-pill rounded form-control" name="frequenceChargement" style="outline: none;  background-color: #f4f4f4;border: none" >
                <option selected value="weekly">Chaque semaine</option>
                <option selected value="weekly">Chaque mois</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="mb-4">
         <p class="detailsCam">Nom de la marchandise</p>
        <input formControlName="marchandise"  type="text" class="rounded-pill rounded form-control" name="marchandise" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir la marchandise">
     <p class="detailsCam">Tonnage</p>
        <select formControlName="tonnage"  type="text" class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
          <option selected value="weekly">Choisir le tonnage</option>
          <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.tonnes}}">{{tc?.tonnes}} tonnes</option>
        </select>
      </div>

      <div class="mb-4">
        <p style="cursor: pointer" (click)="clickUpload('fileContrat')"><u>Téléverser contrat</u><br><strong class="detailsCam" id="fileContratName"></strong></p>
        <input (change)="onFileSelect('fileContratName',$event)" type="file" id="fileContrat" style="display: none" >
      </div>

    </form>

  </div>
  <div  *ngIf="modalTitle == 'Ajout d\'un client'" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal">Annuler</button>
    <button [hidden]="!loaderAdd" (click)="createClient()" type="button" class="btn btn-secondary rounded rounded-pill">Enregistrer</button>
    <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

  </div>


  <div  *ngIf="modalTitle == 'Details du client'" class="modal-body overflow-auto">
    <app-loader [hidden]="loaderDetails"></app-loader>
    <div class="row"  [hidden]="!loaderDetails">

      <div class="col-2">
        <div class="container">

          <div class="avatar-upload">
            <div class="avatar-edit">
              <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
              <label for="imageUpload"></label>
            </div>
            <div class="avatar-preview">
              <img style="    height: 60px;width: 60px;  border-radius: 100px;" src="{{chauffeur?.photo != null?ENDPOINT+'uploads/images/'+chauffeur?.photo:'assets/images/avatar.jpg'}}" id="imagePreview"  >

            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <span style="font-size: 15px;">{{chauffeur?.nomComplet}} </span><br>
        <span style="font-size: 12px;color: #2680EB ">{{chauffeur?.typePermis?.libelle}}   -   {{chauffeur?.type}} </span><br>
        <span style="font-size: 12px;color: #959595">{{chauffeur?.tel1}}  {{chauffeur?.tel2}}</span>
      </div>
      <div class="col-4" style="text-align: right">
        <!-- <button class="btn btn-outline-secondary rounded rounded-pill">Amener en entretien</button>-->
        <br>
        <!-- <div class="row mt-3">
           <div class="col-1"><img src="../assets/images/good_courbe.svg"></div>
           <div class="col-10"> <p class="montant">240 000 frcfa</p></div>
         </div>-->
      </div>

      <div class="row mt-3" style="border-top: solid 1px #DEDEDE">
        <div class="col-6 details-section" style="border-right: solid 1px  #DEDEDE">
          <span class="detailsCam">Lieu chargement<span style="float: right">{{chauffeur?.camion?.marque?.libelle}}</span></span><br>
          <span class="detailsCam">Lieu dechargement<span style="float: right">{{chauffeur?.camion?.typeCamion?.libelle}}</span></span><br>
          <span class="detailsCam">Durée<span style="float: right">{{chauffeur?.camion?.typeCamion?.modele?.libelle}}</span></span><br>
          <span class="detailsCam">Jour chargement<span style="float: right">{{chauffeur?.camion?.marque?.libelle}}</span></span><br>
          <span class="detailsCam">Jour dechargement<span style="float: right">{{chauffeur?.camion?.typeCamion?.libelle}}</span></span><br>
          <span class="detailsCam">Fréquence de chargement<span style="float: right">{{chauffeur?.camion?.typeCamion?.libelle}}</span></span><br>

          <span class="detailsCam">Nom de la marchandise<span style="float: right">{{chauffeur?.camion?.typeCarburant}}</span></span><br>
          <span class="detailsCam">Tonnage<span style="float: right">{{chauffeur?.camion?.typeCamion?.qteCarburantVide}}</span></span><br>
          <span class="detailsCam">Montant<span style="float: right">{{chauffeur?.camion?.typeCamion?.qteCarburantCharge}}</span> </span><br>
          <div class=" mt-5">
            <span class="detailsCam">Voir le contrat<span style="float: right">{{chauffeur?.camion?.typeCamion?.qteCarburantCharge}}</span> </span><br>

          </div>

        </div>
        <div class="col-6 details-section"  >
          <form [formGroup]="clientForm" >
            <div class="mb-4">
              <label class="mb-2" style="font-weight: bold;padding-left: 5px">Ajout contrat</label>
              <br><span class="detailsCam">Trajet</span>
              <div class="row">
                <div class="col-6">
                  <select formControlName="typeTrajet"  type="text" class="rounded-pill rounded form-control" name="typeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                    <option selected>Type trajet</option>
                    <option value="Aller - retour">Aller - retour</option>
                    <option value="Retour">Retour</option>
                  </select>
                </div>
                <div class="col-6">
                  <input formControlName="dureeTrajet"   type="text" class="rounded-pill rounded form-control" name="dureeTrajet" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Durée trajet">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-6">
                  <input  formControlName="lieuChargement" type="text" class="rounded-pill rounded form-control" name="lieuChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
                </div>
                <div class="col-6">
                  <input  formControlName="lieuDechargement" type="text" class="rounded-pill rounded form-control" name="lieuDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
                </div>
              </div>
              <br><span class="detailsCam">Durée contrat</span>
              <div class="row mt-2">
                <div class="col-6">
                  <input formControlName="debut"  type="date" class="rounded-pill rounded form-control" name="debut" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu chargement">
                </div>
                <div class="col-6">
                  <input  formControlName="fin" type="date" class="rounded-pill rounded form-control" name="fin" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Lieu dechargement">
                </div>
              </div>
              <br><span class="detailsCam">Période </span>
              <div class="row mt-2">
                <div class="col-6">
                  <select formControlName="jourChargement"  class="rounded-pill rounded form-control" name="jourChargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                    <option selected value="Lundi">Lundi</option>
                    <option value="Mardi">Mardi</option>
                    <option value="Mercredi">Mercredi</option>
                    <option value="Jeudi">Jeudi</option>
                    <option value="Vendredi">Vendredi</option>
                    <option value="Samedi">Samedi</option>
                    <option value="Dimanche">Dimanche</option>
                  </select>
                </div>
                <div class="col-6">
                  <select    formControlName="jourDechargement" class="rounded-pill rounded form-control" name="jourDechargement" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                    <option selected value="Lundi">Lundi</option>
                    <option value="Mardi">Mardi</option>
                    <option value="Mercredi">Mercredi</option>
                    <option value="Jeudi">Jeudi</option>
                    <option value="Vendredi">Vendredi</option>
                    <option value="Samedi">Samedi</option>
                    <option value="Dimanche">Dimanche</option>
                  </select>
                </div>
                <div class="col-12 mt-3">
                  <select formControlName="frequenceChargement"  class="rounded-pill rounded form-control" name="frequenceChargement" style="outline: none;  background-color: #f4f4f4;border: none" >
                    <option selected value="weekly">Chaque semaine</option>
                    <option selected value="weekly">Chaque mois</option>
                  </select>
                </div>
              </div>
            </div>


            <div class="mb-4">
              <p class="detailsCam">Nom de la marchandise</p>
              <input formControlName="marchandise"  type="text" class="rounded-pill rounded form-control" name="marchandise" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir la marchandise">
              <p class="detailsCam">Tonnage</p>
              <select formControlName="tonnage"  type="text" class="rounded-pill rounded form-control" name="tonnage" style="outline: none;  background-color: #f4f4f4;border: none" placeholder="Saisir le numéro de telephone">
                <option selected value="weekly">Choisir le tonnage</option>
                <option *ngFor="let tc of listTypeCamionTonne" value="{{tc?.tonnes}}">{{tc?.tonnes}} tonnes</option>
              </select>
            </div>

            <div class="mb-4">
              <p><u>Téléverser contrat</u></p>
            </div>

          </form>
        </div>
        <div class="col-6 p-2" *ngIf="chauffeur?.disponibilite == 'Non affecté'">

          <div style="margin-top: 200px;text-align: center">
            <p class="detailsCam">Illustration empty state</p>
            <p><u>Affecter à un camion</u></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div  *ngIf="modalTitle == 'Details du client'" class="modal-footer">
    <button type="button" class="btn btn-outline-secondary rounded rounded-pill" data-bs-dismiss="modal">Annuler</button>
    <button [hidden]="!loaderAdd" (click)="createClient()" type="button" class="btn btn-secondary rounded rounded-pill">Enregistrer</button>
    <button [hidden]="loaderAdd" type="button" class="btn btn-secondary rounded rounded-pill"><img  style="height: 25px;width: 25px" src="assets/images/loader.gif"></button>

  </div>
</app-modal>

