<div id=" " style="height: 175px;width: 260px;border-radius: 4px;border: solid 1px #eaeaea;padding: 15px">
  <div class="row" style="height: 50px;border-bottom: solid 1px #eaeaea;width: 255px">
    <div class="col-2">
      <div class=" text-center">
        <img  src="{{client?.photo != null?ENDPOINT+'uploads/images/'+client?.photo:'assets/images/avatar.jpg'}}"  style="height: 35px;width: 35px;border-radius: 50%; "/>
       </div>
    </div>
    <div class="col-8">
      <p style="color: #323232;font-size: 13px">{{client?.nomComplet}}<br><span class="etatChauufeur"    style=" ">{{client?.tel}}</span></p>

    </div>
    <div class="col-2" style="text-align: right">
      <i style="cursor: pointer"  (click)="clickedActionner(client?.id) "  class="fas fa-ellipsis-h"></i>
    </div>
    <div>
      <p>{{client?.totalContrats}} {{client?.totalContrats > 1?'contrats en cours':'contrat en cours'}}</p>
     <!-- <p>Yaounde - Dakar <br>
        <span class="detailsCam">3 tonnes </span><br>
    <span class="detailsCam">Jeudi/ Chaque mois</span></p>-->
    </div>

    <div class="col-12" style="border-top: solid 1px #eaeaea;height: 50px !important;">
      <p style="color: #323232;font-size: 13px" class="mt-2">
        <span style="color: #BCBCBC;font-size: 13px">Montant à payer</span><br>
        <span class="etatChauufeur"    style="color: #D60B52;font-size: 15px ">{{client?.montantRestant}}F</span></p>

    </div>

    <div [hidden]="!isExpanded" class="actions">
      <p (click)="clickedActionItem(client?.id,'Lancer course') "  class="action-item">Lancer une course</p>
      <hr>
      <p (click)="clickedActionItem(client?.id,'Archiver') "  class="action-item">Archiver</p>
      <hr>
      <p (click)="clickedActionItem(client?.id,'Changer') "  class="action-item">Changer en contractuel</p>
      <hr>
      <p (click)="clickedActionItem(client?.id,'Details') " class="action-item">Voir details</p>

    </div>
  </div>

</div>
