<div style="position: relative" id="{{cardId}}" class="vizioCard">
  <div class="row">
    <div  class="col-3">
      <div   style="padding-top:12px;width: 40px; height: 40px; background-color: #fff;text-align: center">
        <div (click)="clickedCardDelete()" [class.selected]="isSelected" style="cursor:pointer;height: 14px;width: 14px;margin: auto;border: solid 2px #8e8e8e; "></div>
       </div>
    </div>
    <div class="col-4"></div>
    <div class="col-5" style="float: right">
      <div class="badge mt-2" [class.dispo]="camion?.etat == 'Dispo'"  [class.panne]="camion?.etat == 'En panne'"  [class.entretien]="camion?.etat == 'En entretien'"  [class.course]="camion?.etat == 'En course'" style=" float: right;   height: 22px; padding: 4px 9px 3px 10px;  border-radius: 4px; "  >
        {{camion?.etat}}
      </div>
    </div>
    <div class="col-12 mt-2 bg-white">
      <img src="{{camion?.image != null?ENDPOINT+camion?.image:'assets/images/empty-car3.png'}}" style="   width: 100%;  height: 70.3px; ">
    </div>
  </div>
</div>
<div [hidden]="!isExpanded" class="actions">
  <p (click)="clickedActionItem(camion?.id,'Entretien') "  class="action-item">Amener en entretien</p>
  <hr>
  <p (click)="clickedActionItem(camion?.id,'Course') "  class="action-item">Planifier course</p>
  <hr>
  <p (click)="clickedActionItem(camion?.id,'Archiver') " class="action-item">Archiver</p>
  <hr>
  <p (click)="clickedActionItem(camion?.id,'Details') " class="action-item">Voir details</p>
</div>

<div class="row mt-1 vizioCardFooter">
  <div class="col-10 immat">{{camion?.immatriculation}}</div>
  <div class="col-2" style="text-align: right;cursor: pointer"><i (click)="clickedActionner(camion?.id) "  class="fas fa-ellipsis-h"></i></div>
  <div class="col-12" style="font-size: 16px;color: cornflowerblue">{{camion?.typeCamion?.libelle}}</div>
  <div class="col-12" style=" font-size: 16px; color: #707070;">{{camion?.typeCamion?.tonnes}}</div>
</div>
