
//CARD
.vizioCard{
  width: 170px;
  height: 170px;
  padding: 12px 13px 64.7px 11px;
  border-radius: 4px;
  background-color: #f4f4f4;
  cursor: pointer;
}
.vizioCardFooter{
  width:170px;
 // margin: 0 0 11px;
 // padding: 0px 13px 64.7px 11px;
  border-radius: 4px;
  cursor: pointer;

}

.immat{
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2c2c2c;
}
