
//CARD
.vizioCard{
  width: 225px;
  height: 225px;
  padding: 12px 13px 64.7px 11px;
  border-radius: 4px;
  background-color: #f4f4f4;
}
.vizioCardFooter{
  width: 225px;
  margin: 0 0 11px;
  padding: 0px 13px 64.7px 11px;
  border-radius: 4px;
}

.immat{
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2c2c2c;
}
